.meal {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px gray solid;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 5px;
  width: 20rem;
}

.float-bottom {
  float: right;
  margin: 1rem 1rem;
}