.nav {
  width: 100%;
  display: inline;
  position: fixed;
  height: 4rem;
  top: 0;
  left: 0;
  background-color: #8a2b06;
  color: white
}

@media(max-width: 500px) {
  .title {
    min-width: 50%
  }
}
